{% extends 'base.html.twig' %}

{% block title %}Lista de Registros{% endblock %}

{% block body %}
    <h1>Lista de Registros</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre de la Persona</th>
                <th>Nombre del Archivo</th>
                <th>Forma de Pago</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Entregado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for registro in registroFotos %}
            <tr>
                <td>{{ registro.nombrePersona }}</td>
                <td>{{ registro.nombreArchivo }}</td>
                <td>{{ registro.formaPago }}</td>
                <td>{{ registro.email }}</td>
                <td>{{ registro.telefono }}</td>
                <td>
                    <form action="{{ path('registro_foto_entregado', {id: registro.id}) }}" method="post">
                        <button type="submit" class="btn {{ registro.entregado ? 'btn-success' : 'btn-danger' }}">{{ registro.entregado ? 'Si' : 'No' }}</button>
                    </form>
                </td>
                <td>
                    <a href="{{ path('registro_editar', {id: registro.id}) }}" class="btn btn-primary">Editar</a>
                    <a href="{{ path('registro_eliminar', {id: registro.id}) }}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('home_index') }}" class="btn btn-primary">Volver al Inicio</a>
    <a class="btn btn-primary m-2" href="{{ path('registro_nueva') }}">Registrar Pedido</a>
{% endblock %}

