{% extends 'base.html.twig' %}

{% block title %}Editar Registro{% endblock %}

{% block body %}
    <h1>Editar Registro</h1>
    {{ form_start(form) }}
        {{ form_row(form.nombrePersona) }}
        {{ form_row(form.nombreArchivo) }}
        {{ form_row(form.formaPago) }}
        {{ form_row(form.telefono) }}
        {{ form_row(form.email) }}
        <button class="btn btn-primary">Editar</button>
        <br>
    <a href="{{ path('lista_foto') }}" class="btn btn-secondary">Volver al Listado</a>
    {{ form_end(form) }}
{% endblock %}
